* {
     margin: 0;
     padding: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}


.container {
    max-width: 1000px;
    margin: auto;
}


header {
    background-color: #48C5CE;
    color: white;
    padding: 10px;
    text-align: center;
}


section {
    background-image: url(images/people.jpg);
    background-size: cover;
    padding: 20px;
    overflow: hidden;
}


.formContainer {
    padding: 20px;
    max-width: 250px;
    background-color: rgba(255, 255, 255, 0.712);
    float: right;
}


.mb {
    margin-bottom: 15px;
}


.formContainer input , select {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
    border:none;
    font-size: 18px;
}


.formContainer select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: url(images/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}


input[type=submit] {
    background-color: #48C5CE;
    color: white;
    font-weight: bold;
}


footer {
    padding: 50px;
    color: white;
    background-color: #1a1919;
    text-align: center;
}


footer img {
    width: 150px;
}


.description {
    display: inline-block;
    max-width: 400px;
    text-align: left;
}


 footer p {
    margin-bottom: 10px;
    margin-left: 50px;
}


footer h3 {
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: 50px;
}





@media (max-width:654px) {


.formContainer {
    float: none;
    margin: auto;
}   


footer {
    text-align:unset;
}


footer img {
    margin: auto;
    display: block;
}


footer .description {
    text-align: center;
    display: block;
    margin: auto;
}     

footer h3, footer p {
    margin-left: 0;
}
}